.navbar {

  position: absolute;
  width: 100%;
  height: 70px;
  font-weight: var(--font-light);
  background-color: var(--color-white);
  top: 0;
  position: fixed;
  z-index: 100;
}

.nav-icon {
  width: 20%;
  text-align: center;
  /* background-color: blue; */
}

.nav-menu {
  font-weight: var(--font-medium);
  width: 100%;
  /* background-color: pink; */
}

.nav-list {
  /* background-color: blue; */
  width: 30%;
  height: 100%;
  align-items: center;
}
.nav-item {
  /* background-color: orange; */
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-btn {
  /* background-color: green; */
  width: 15%;
  padding: 10px;
  height: 100%;
}
