.order-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 90%;
  min-height: 70vh;
  max-height: auto;
}

.item-wrapper {
  margin-top: 3rem;
  flex-direction: column;
  width: 70%;
}

.item-box {
  /* flex-direction: column; */
  width: 100%;
  min-height: 80px;
  max-height: auto;
  background: #ffffff;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.item-box p:nth-child(1) {
  width: 100px;
  text-align: center;
}
.item-box p:nth-child(2) {
  font-weight:bold;
  width: 200px;
  text-align: start;
}
.item-box p:nth-child(3) {
  width: 60px;
}
.item-box p:nth-child(4) {
  width: 130px;
}
.item-box p:nth-child(5) {
  width: 160px;
}
.item-box:hover {
  transform: scale(1.1);
}

.item-box div {
  align-items: center;
}
.item-box-main {
  width: 200px;
  font-weight: 200;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
  .item-wrapper {
    width: 90%;
  }


  .item-box p:nth-child(2) {
    width: 100%; 
  }
  .item-box {
    display:flex;
    flex-direction: column;
    align-items: start;
    height: auto;
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .order-wrapper,
  .item-wrapper {
    width: 100%;
  }

  .item-box {
    display:flex;
    flex-direction: column;
    align-items: start;
    height: auto;
  }

  .item-box p {
    width: 100%;
    text-align: center;
  }
}